

.app-container {
  display: flex;
  min-height: 100vh;
  background: black;
  margin: 0;
  padding: 0;
}

//navigation
.navigation-section {
  width: 280px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background: black;
  border-right: 1px solid #2f3336;

  padding: 20px;
}

.main-content {
  margin-left: 280px;
  width: 650px;

  border-left: none; 
  border-right: 1px solid #2f3336;

  min-height: 100vh;
}
